@font-face {
  font-family: 'Iosevka';
  src: local('Iosevka'), url(./fonts/iosevka-regular.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #200040;
  font-family: Iosevka, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 1%;
  height: 860px;
  width: 90%;
  position: relative;
}

.footer {
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
}

.top,
.bottom {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.top {
  top: 0;
  border-bottom: none;
  background-image: url("moorish-star.png");
  background-position: right 0;
  background-repeat: no-repeat;
}
.top p {
  font-size: 70px;
  text-align: left;
}
.top .secondary-info {
  margin-top: -50px;
  font-size: 44px;
}

.bottom {
  background-color: #34005b;
  bottom: 0;
  border-top: none;
  font-size: 18px;
  font-weight: normal !important;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 20px 20px rgba(0,0,0,.075);
}

.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

#menulink {
  color: white;
}

.bottom .command, .command2, .command3, .command4 {
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

.bottom .command2 {
  animation-delay: 2s;
}
.bottom .command3 {
  animation-delay: 3s;
}
.bottom .command4 {
  animation-delay: 4s;
}

.commndMenu a, .n-link {
  color: orange;
  text-decoration: none;
}
.commndMenu a:hover, .n-link:hover {
  color: orangered;
}

.projects-wrapper {
  display: block;
}

.home-menu {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin-right: 20px;
  position: relative;
  padding: 0;
}

.home-menu li {
  height: 200px;
  position: relative;
  border-radius: 2px;
  background: url("moorish-star-sm-white.png") no-repeat center;
}

.home-menu li:hover {
  transition-duration: 0.3s;
  transform: scale(0.9) rotate(10deg);
}

.home-menu li a {
  color: #34005b;
  text-decoration: none;
}
.home-menu li .menu-text {
  position: absolute;
  left: 0; 
  right: 0;
  top: 44%;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}
.home-menu li .menu-text:hover {
  transition-duration: 0.3s;
  transform: scale(1.5) rotate(-10deg);
}

.projects {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  margin-right: 20px;
  position: relative;
  padding: 0;
}

.projects li.project-item {
  padding: 20px;
  border: 3px solid #200040;
  border-radius: 2px;
  position: relative;
}

.projects li.project-item:hover {
  border: 3px dashed orange;
  box-shadow: 0 5px 20px #200040;
  background-color: #200040;
  transition-duration: 0.3s;
  transform: rotate(-1deg);
}

.projects li.project-item h3 {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.project-desc {
  margin-bottom: 10px;
  font-style: italic;
  color: lightgray;
}

.project-techs {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 100px;
  padding: 10px 0;
  font-size: 12px;
}

.project-techs li {
  list-style: none;
  border: 1px dotted lightslategray;
  color: lightslategray;
  padding: 5px;
  font-weight: bold;
  font-style: italic;
}

.project-btns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  bottom: 0%;
  margin-bottom: 20px;
}

.projects li a.demo, .projects li a.code {
  border-radius: 3px;
  padding: 5px 30px;
  text-decoration: none;
  font-weight: bold;
}
.projects li a.demo {
  color:#D99058;
  border: 2px solid #D99058;
}
.projects li a.demo:hover {
  background-color: orange;
  color:#200040;
  border: 2px solid orange;
}
.projects li a.code {
  color:lightgray;
  border: 2px solid lightgray;
}
.projects li a.code:hover {
  background-color: lightgray;
  color:#200040;
  border: 2px solid lightgray;
}

.projects-section-title {
  border-radius: 3px;
  background-color: #200040;
  padding: 10px;
  padding-left: 35px;
}

.google-play-btn {
  margin-left: -15px;
  width: 100px;
  position: absolute;
  bottom: 0%;
  padding-bottom: 5px;
}
.google-play-btn img {
  width: 230%;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 600px) {
  .projects, .home-menu {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}