body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #200040;
  font-family: monospace;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 1%;
  height: 860px;
  width: 90%;
  position: relative;
}

.footer {
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  margin-top: 0px;
}

.top,
.bottom {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.top {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  border-bottom: none;
  background-image: url("moorish-star.png");
  background-position: right 0;
  background-repeat: no-repeat;
}
.top p {
  font-size: 70px;
  text-align: left;
}
.top .secondary-info {
  margin-top: -50px;
  font-size: 30px;
}

.bottom {
  background-color: #34005b;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  border-top: none;
  font-size: 20px;
}

.main-menu {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

#menulink {
  color: white;
}

.command,
.command2 {
  font-family: monospace, sans-serif !important;
}

.bottom .command, .command2, .command3, .command4 {
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 4s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

.bottom .command2 {
  animation-delay: 2s;
}
.bottom .command3 {
  animation-delay: 3s;
}
.bottom .command4 {
  animation-delay: 4s;
}

.commndMenu a, .n-link {
  color: orange;
  text-decoration: none;
}
.commndMenu a:hover, .n-link:hover {
  color: orangered;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
